{% extends "./views/base.html" %}

{% block title %}Playlist | TubeGrab{% endblock %}


{% block content %}
<div id="zone_input">
    <h1>
        Paste here a YouTube playlist link to convert to MP3, MP4.
    </h1>
    <h2>
        Enter a valid YouTube link, choose a format, then click "Convert".
    </h2>
    <form method="post" action="{{ url_for('playlist_download') }}" id="downloadForm">
        <input type="url" name="url" id="url" placeholder="https://youtube.com/playlist?list=nhWyu4LEUtA" autocomplete="off"
            required>
            <select id="choice_mp3_mp4" name="conversion_type">
                <option value="mp3" data-refresh="true">audio (mp3)</option>
                <option value="mp4" data-refresh="true">video (mp4)</option>
            </select>
        <button type="submit" id="button-convert">Convert</button>
    </form>
</div>
{% endblock %}