{% extends "./views/base.html" %}

{% block title %}Video and audio | TubeGrab{% endblock %}


{% block content %}
<div id="zone_input">
    <h1>
        Paste here a YouTube link to convert to MP3, MP4 or HD.
    </h1>
    <h2>
        Enter a valid YouTube link, choose a format, then click "Convert".
    </h2>
    <form method="post" action="{{ url_for('video_audio_download') }}" id="downloadForm">
        <input type="url" name="url" id="url" placeholder="https://youtube.com/watch?v=nhWyu4LEUtA" autocomplete="off"
            required>
        <select id="choice_mp3_mp4" name="conversion_type">
            <option value="mp3" data-refresh="true">audio (mp3)</option>
            <option value="mp4" data-refresh="true">video (mp4)</option>
            <option value="HD" data-refresh="true">HD (no audio)</option>
        </select>
        <button type="submit" id="button-convert">Convert</button>
    </form>
    <div class="alert-warning"><p>{{ error_message_no_HD }}</p></div>
</div>
{% endblock %}