{% extends "./views/base.html" %}

{% block title %}TubeGrab | Accueil{% endblock %}


{% block content %}
<div class="hero-section">
    <h1 class="english">Download YouTube Videos as MP3 or MP4</h1>
    <h2 class="english">Fast. Free. No ads. No registration.</h2>

    <h1 class="french">Téléchargez des vidéos YouTube en MP3 ou MP4</h1>
    <h2 class="french">Rapide. Gratuit. Sans pub. Sans inscription.</h2>

    <div id="hero-buttons" class="french">
        <a href="/video-audio" class="donate-button">🎬 Convertir une Vidéo</a>
        <a href="/playlist" class="donate-button">🎵 Télécharger une Playlist</a>
    </div>
    <div id="hero-buttons" class="english">
        <a href="/video-audio" class="donate-button">🎬 Convert a Video</a>
        <a href="/playlist" class="donate-button">🎵 Convert a Playlist</a>
    </div>
</div>

<div class="container-mobile">
    <div class="container-top">
        <div class="box-1">
            <img src="../static/file-svg/arrow-down-circle-outline.svg" alt="">
            <h1 class="english">Free Service</h1>
            <h2 class="english">My service is free and without advertising but if you want you can make a donation to
                me.</h2>
            <h1 class="french">Service Gratuit</h1>
            <h2 class="french">Mon service est gratuit et sans publicité, mais si vous le souhaitez, vous pouvez me
                faire un don.</h2>
        </div>
        <div class="box-2">
            <img src="../static/file-svg/ban.svg" alt="">
            <h1 class="english">Your Privacy Matters</h1>
            <h2 class="english">No data is collected on my website, and there are no commercial cookies in use.</h2>
            <h1 class="french">Confidentialité garantie</h1>
            <h2 class="french">ACe site ne collecte aucune donnée et n’utilise pas de cookies publicitaires.</h2>
        </div>
        <div class="box-3">
            <img src="../static/file-svg/shield-checkmark.svg" alt="">
            <h1 class="english">Safe Downloads</h1>
            <h2 class="english">Downloads are safe and my service is open source.</h2>
            <h1 class="french">Téléchargements Sécurisés</h1>
            <h2 class="french">Les téléchargements sont sûrs et ce service est open source </h2>
        </div>
    </div>
    <div class="container">
        <div class="box-4">
            <img src="../static/file-svg/desktop.svg" alt="">
            <h1 class="english">Accessibility</h1>
            <h2 class="english">My services can be used on multiple devices</h2>
            <h1 class="french">Accessibilité</h1>
            <h2 class="french">Ce site peux être utilisé sur tous types appareils.</h2>
        </div>
        <div class="box-5">
            <img src="../static/file-svg/sync-circle.svg" alt="">
            <h1 class="english">Enjoy unlimited downloads</h1>
            <h2 class="english">You have unlimited downloads</h2>
            <h1 class="french">Profitez de Téléchargements Illimités</h1>
            <h2 class="french">Vous pouvez télécharger en illimité.</h2>
        </div>
        <div class="box-6">
            <img src="../static/file-svg/documents.svg" alt="">
            <h1 class="english">MP3 and MP4 Formats</h1>
            <h2 class="english">You have the option to choose between two file types: MP3 or MP4.</h2>
            <h1 class="french">Formats MP3 et MP4</h1>
            <h2 class="french">Vous avez la possibilité de choisir entre deux types de fomats : MP3 ou MP4.</h2>
        </div>
    </div>
</div>
{% endblock %}